/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
      background: #252525;
      color: #EEE9E9;
  }
@font-face {
    font-family: "ptr1";
    src: url("../style/PTF55F.ttf");
}
@font-face {
    font-family: "ptr2";
    src: url("../style/PTF56F.ttf");
}
@font-face {
    font-family: "ptr3";
    src: url("../style/PTF75F.ttf");
}
@font-face {
    font-family: "ptr4";
    src: url("../style/PTF76F.ttf");
}
@font-face {
    font-family: "ptr5";
    src: url("../style/PTZ55F.ttf");
}
@font-face {
    font-family: "ptr6";
    src: url("../style/PTZ56F.ttf");
}


@font-face {
    font-family: "comLight";
    src: url("../style/pfdintextcomppro-light-webfont.ttf");
}
@font-face {
    font-family: "conRegular";
    src: url("../style/pfdintextcondpro-regular-webfont.ttf");
}
@font-face {
    font-family: "conMedium";
    src: url("../style/pfdintextcondpro-medium-webfont.ttf");
}
@font-face {
    font-family: "comRegular";
    src: url("../style/pfdintextcomppro-regular-webfont.ttf");
}
@font-face {
    font-family: "comMedium";
    src: url("../style/pfdintextcomppro-medium-webfont.ttf");
}
@font-face {
    font-family: "PFD_Bold";
    src: url("../style/PFDinTextCondPro-Bold.ttf");
}
@font-face {
    font-family: "PFD_BoldItal";
    src: url("../style/PFDinTextCondPro-BoldItal.ttf");
}
@font-face {
    font-family: "PFD_Italic";
    src: url("../style/PFDinTextCondPro-Italic.ttf");
}
@font-face {
    font-family: "PFD_Light";
    src: url("../style/PFDinTextCondPro-Light.ttf");
}
@font-face {
    font-family: "PFD_LightItal";
    src: url("../style/PFDinTextCondPro-LightItal.ttf");
}
@font-face {
    font-family: "PFD_MedItal";
    src: url("../style/PFDinTextCondPro-MedItal.ttf");
}
@font-face {
    font-family: "PFD_Medium";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}
@font-face {
    font-family: "PFD_Regular";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFD_Thin";
    src: url("../style/PFDinTextCondPro-Thin.ttf");
}
@font-face {
    font-family: "PFD_ThinItal";
    src: url("../style/PFDinTextCondPro-ThinItal.ttf");
}
@font-face {
    font-family: "PFD_XBlack";
    src: url("../style/PFDinTextCondPro-XBlack.ttf");
}
@font-face {
    font-family: "PFD_XBlackItal";
    src: url("../style/PFDinTextCondPro-XBlackItal.ttf");
}
@font-face {
    font-family: "PFD_XThin";
    src: url("../style/PFDinTextCondPro-XThin.ttf");
}
@font-face {
    font-family: "PFD_XThinItal";
    src: url("../style/PFDinTextCondPro-XThinItal.ttf");
}
@font-face {
    font-family: "PF";
    src: url("../style/PFDinTextCondPro-Regular.ttf");
}
@font-face {
    font-family: "PFbold";
    src: url("../style/PFDinTextCondPro-Medium.ttf");
}

.cBlue {
  color: #2c2c2c;
}
.text-muted {
    color: #777;
}

.text-primary {
    color: #2c2c2c;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #2c2c2c;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: ptr1;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #252525;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #2c2c2c;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #2c2c2c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #2c2c2c;
    background-color: #2c2c2c;
}

.btn-primary .badge {
    color: #2c2c2c;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #2c2c2c;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #2c2c2c;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #2c2c2c;
    background-color: #2c2c2c;
}

.btn-xl .badge {
    color: #2c2c2c;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #2c2c2c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #2c2c2c;
    background-color: #2c2c2c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2c2c2c;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    text-shadow: #252525 0px 0px 4px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2c2c2c;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #2c2c2c;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}


@media(max-width:768px) {
    #oformitZakaz {
        display: none;
    }
}

.service-heading {
    margin: 15px 0 25px;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    text-align: center;
    background-color: #696969;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#000;
     font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #2c2c2c;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}
.class_bla
{
        height: 225px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 7px solid #fff;
    width: 200px;
}
.team-member img {
            border-radius: 0;
    margin: 0 0 0 0px;
    min-height: 250px;
    width: auto;
    height: auto;
    min-width: 200px;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
    max-height: 70px;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #2c2c2c;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #2c2c2c;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: white;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #2c2c2c;
}

::selection {
    text-shadow: none;
    background: #2c2c2c;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #2c2c2c;
}

.phone_ring
{
    position: fixed;
  z-index: 110;
  bottom: 2%;
  width: 7%;
  right: 10%;
  cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.call_t {
    border-radius: 5px;
  border: 1px solid #D3D3D3;
  margin: 10px 0;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  background: #f4f4f4;
      color: #252525;
}
.popup {
  background-color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  left: 50%;
  opacity: 0;
  padding: 15px;
  width: 300px;
  position: fixed;
  text-align: justify;
  top: 40%;
  visibility: hidden;
  z-index: 999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  border-radius: 11px;
}
.popup .close_window {
  width: 6px;
  height: 17px;
  position: absolute;
  padding: 1px 9px 4px 9px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.popup .close_window:hover {
}
.popup .close_window:active {
}
div#myblock {
  width: 400px;
  text-align: center;
  z-index: 9999;
  position: fixed;
  top: 40%;
  background: white;
  padding: 50px;
  border-radius: 10px;
  left: 35%;
}
.cnt_3_2_1_btn {
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 400;
  padding: 5px 0px;
  background: #414042;
  font-size: 22px;
  text-transform: uppercase;
}


.icons
{
  width: 96px;
  height: 96px;
}

.centerBg {
    background: url("../img/6centr/bg2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 485px;

}

.allBg {
  width: 100%;
}
.headerContBg {
  height: 100%;
}
.allContainerBg {
}
.timerLeftCentr {
    vertical-align: top;
  width: 70%;
  display: inline-block;
  margin-top: 90px;
  text-align: right;
}
.timerLeftCentr h3, .timerLeftCentr h4, .timerLeftCentr h2 .timerLeftCentr h1, .timerLeftCentr div {
    font-family: conRegular;
      line-height: 35px;
}
.cGray {
  color: #393939;
}
.inlineTable {
  display: inline-table;
}

.timerLeftCentr2 {
    font-family: conMedium;
    font-size: 52px;
}
.cRed {
  color: #af0116;
}
.timer .container {
  width: 280px;
  padding: 0;
  height: 80px;
  right: 24px;
}
@font-face
{
font-family: PFD_Light;
src: url("../style/PFDinTextCondPro-Light.ttf");
}
@font-face{ font-family: conRegular;    src: url("../style/pfdintextcondpro-regular-webfont.ttf");}
.timer {margin:7px 0px 0px 30px;width:270px; height:85px; background:url("timer-container-bg.png") no-repeat 5px -2px;position:relative; }
.timer .container { width: 280px;
height: 80px; 
right: 24px; }
.timer .container div {height: 55px; width: 27px; float: left; position:relative;}
.timer {margin-right:5px; margin-right:5px;}
div.hourPlay, div.dayPlay, div.minutePlay, div.secondPlay {background: url('timer0_9.png') repeat 0 0; margin-top: 1px}
div.minute6Play, div.second6Play {background: url('timer0_5_l.png') repeat 0 0; margin: 1px 0 0 11px;}
div.hour2Play, div.day1Play {background: url('timer0_2_l.png') repeat 0 0; margin: 1px 0 0 11px;}
.timer .container em {position: absolute;
bottom: -25px;
text-align: center;
font-size:18px;
font-style: normal;
width: 57px;
    font-family:conRegular;
left: -30px; color: #393939;}
.timer .container .txtHeader {position: absolute;
bottom: -25px;
text-align: center;
font-size:16px;
font-style: normal;
width: 57px;
    font-family:PFD_Light;
left: -30px; color: white;}

#countdown_dashboard{
    width: 320px;
    margin: 0 auto;
    height: 80px;
}

#countdown_dashboard3{
    width: 320px;
    margin: -8px -22px 0 0;
    height: 80px;
    float: right;
}
#countdown_dashboard2
{
    width: 320px;
    margin: 0 -23px 0 18px;
    height: 80px;
    text-align: right;
    float: right;
}
.dash {
    width: 60px;
    height: 75px;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 15px;
    position: relative;
}

.dash .digit {
    font-size: 27pt;
    font-weight: normal;
    float: left;
    width: 30px;
    line-height: 30px;
    padding-top: 11px;
    text-align: center;
    font-family: PFD_Bold;
    color: #393939;
    position: relative;
}

.dash_title {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 6px;
    font-size: 9pt;
    color: #393939;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.formLeftCentr {
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  border-radius: 10px;
  height: 385px;
  margin: 28px 0 0;
  width: 300px;
  padding: 0;
  text-align: center;
}
.inlineBlockI {
  display: inline-table;
  padding: 0 5px;
}
.designProjectText1 {
  color: #393939;
  font-family: conRegular;
  font-size: 20px;
    margin-top: 0;
  margin-bottom: 8px;
  display: inline-table;
}
.designProjectText1-1 {
  color: #393939;
  display: inline-table;
  font-family: conMedium;
  font-size: 20px;
    margin-top: 0;
  margin-bottom: 8px;
}
.inputCenterStyle {
  border: 1px solid black;
  margin: 0 14px 16px;
  padding: 3px 0;
  width: 275px;
}
.inputCenterStyle > img 
{
    margin-left: -13px;
}

#sbmBtnCntr {
  border-radius: 10px;
  margin: 2px 0 0;
  font-size: 36px;
  padding: 0 16px;
  text-transform: lowercase;
  width: 275px;
}
.textAlignCenter {
  text-align: center;
}
.textRightGarantiya {
  font-family: conRegular;
  font-size: 14px;
  margin: 0 0 -3px;
  padding: 0;
  text-align: center;
}
.inputCenterStyle input {
  border: none;
  width: 80%;
}
.submitBtnCentr {
  background: none repeat scroll 0 0 #2c2c2c;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-family: conMedium;
  font-size: 24pt;
  margin: 0 auto 5px;
  padding: 10px;
}
.before_after_img
{
        width: 70%;
    max-height: 300px;
}
.img-responsive {
  height: 190px;
  margin: 0 auto;
}
img.port_img {
  width: 29%;
  vertical-align: top;
}

.faktsBG {
  background: url("../img/5fakts/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  min-height: 570px;
  background-size: 100% 100%;
}
.blocks {
  border: 5px solid white;
  border-radius: 16px;
  color: white;
  height: 194px;
  margin: 5px 42px 20px 0;
  text-align: center;
  vertical-align: middle;
  width: 195px;
}
.numbers {
  font-family: conRegular;
  font-size: 72px;
  margin: 15px 0 18px;
  vertical-align: middle;
}
.textNiz {
  font-family: conRegular;
  font-size: 16px;
}
.textNiz {
    font-family: conRegular;
    font-size: 16px;
}
.text-logo-left
{
        display: inline-block;    text-align: right;    font-size: 22px;
}
.text-logo-right
{
        display: inline-block;    text-align: left;    font-size: 22px;
}
.blocks:hover {
    border: 5px solid #ffd400;
    color: #ffd400;
    cursor: pointer;
}
.blocks:hover .textNiz, .blocks:hover .numbers {
    color: #ffd400;
}

.otzyv,.otzyv_r {
  margin-bottom: 20px;
  text-align: center;
}
.otzyv img {
  height: 165px;
  margin: 0 15px;
  border: 7px solid #fff;
  width: 165px;
  text-align: left;
  display: inline-block;
}
.otzyv_r img {
  height: 165px;
  margin: 0 15px;
  border: 7px solid #fff;
  width: 165px;
  text-align: right;
  display: inline-block;
}
.otz_v {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  text-align: left;
}
.otzyv_r>.otz_v
{
 text-align: right;   
}
.otzyv h4 {
  margin-bottom: 10px;
  text-transform: none;
}
.otzyv p {
  margin-top: 0;
}
#zazak_header
{
    cursor: pointer;
}

.zvonok_footer
{
  border-radius: 10px;
  background: none repeat scroll 0 0 #2c2c2c;
  border: 1px solid black;
  color: white;
  width: 225px;
  padding: 0 10px;
  cursor: pointer;
  font-family: conMedium;
  font-size: 24pt;
  margin: 15px auto;
  text-transform: lowercase;
}
.footer_number
{
    display: block;
}
.footer_number img
{
    display: inline-block;
}

.cnt_6_2_1
{
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
}
.cnt_6_2_1_1
{
    color: white;
      margin: 5px 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.cnt_6_2_1_2 .scl
{
    width: 31px;
    height: 31px;
    margin: 0 15px;
}
.cnt_6_2_1_2 div
{
    color: #ff4f2c;
    font-size: 20px;
    font-weight: 600;
}
.cnt_6_2_1_2 .app
{
    margin: 0 15px;
    width: 99px;
    height: 33px;
}
.hour24 {
  width: 45px;
}

.logos {
  margin: 0 20px;
}
.works_cirle {
  padding: 30px;
  max-width: 300px;
  margin: 10px;
    vertical-align: middle;
  display: inline-block;
}
.works_all {
  text-align: center;
}
.arrow_right, .arrow_bottom, .arrow_left,.arrow{
    position: relative;
      margin-right: 30px;
      margin-bottom: 30px;
      vertical-align: middle;
        overflow: visible!important;
      display: none;
    background: #222;
    color: white;
    border: 4px solid #2c2c2c;
}
.arrow_right:after, .arrow_right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;

    position: absolute;
    pointer-events: none;
}

.arrow_right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #222;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #2c2c2c;
    border-width: 36px;
    margin-top: -36px;
}

.arrow_bottom:after, .arrow_bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_bottom:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #222;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_bottom:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #2c2c2c;
    border-width: 36px;
    margin-left: -36px;
}
.arrow_left:after, .arrow_left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_left:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #222;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #2c2c2c;
    border-width: 36px;
    margin-top: -36px;
}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
.portfolio-caption h4 {
  color: #252525;
}

/*              Circle        */

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
      padding-top: 80px;
    width: 200px;
    vertical-align: middle;
    height: 200px;
    text-align: center;
    font-size: 16px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #e34f26;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #32CD32;
  stroke-width: 10;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}
.outer:after {
    top: -16px;
    left: 34px;
    border-bottom-color: yellowgreen;  
    border-top: 0;
    border-right: 0;
    }

.viewchar:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='19'] .outer {
  stroke-dashoffset: 450;
}
.chart[data-percent='84'] .outer {
  stroke-dashoffset: 193;
}

.chart[data-percent='92'] .outer {
  stroke-dashoffset: 100;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='56'] .outer {
  stroke-dashoffset: 287;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes show92 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 84;
  }
}

@keyframes show92 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 84;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}


.viewchar {
    margin: 30px 0;
}
.rightnaw
{
    padding: 80px 0;
    font-size: 20px;
    width: 60%;
}
/* END Keyframes for the initial animation */
/*          end    Circle        */
.modal-content {
    background-color: #252525;
}

#portfolio
{
    background: url("../img/text.jpg");
}
#works
{
    background: url("../img/text2.png");   
}